body{
  font-family: Helvetica, sans-serif;
  margin: 0;
}
a{
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #ffff80;
}

#hero{
  background-image: url(assets/hero.jpeg);
  background-size: 100vw auto;
  background-repeat: no-repeat;
  height: 1000px;
}



#navbar{
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-items{
  color:#ffffff;
  justify-self: start;
}

.nav-icon{
  margin-right: auto;
  padding-left: 30px;
}

li{
  display: inline;
  padding: 0 20px;
}

.hero-section{
  color: #ffffff;
  width: 50%;
  padding: 160px 50px 0 60px;
}
.hero-section-2{
  width: 50%;
}
.hero-title{
  font-size: 60px;
}
.hero-text{
  font-size: 16px;
  line-height: 1.6;
}

.beer-heading{
  font-size: 15px;
}

.beer-text{
  font-size: 16px;;
  height: 70px;
}

.beer-card{
  width: auto;
  height: 310px;
  grid-gap: 10px;
  padding: 30px 10px;
}

#beers{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  
  padding: 0 30px 60px 30px;
  grid-column-gap: 20px;
   
}

.beer-image{
  width: auto;
  height: 150px;
  
}

.img-block{
  background-color: #2897b1;
  text-align: center;
  padding: 10px 0 ;
}

.footer{
  width: 100%;
}

.footer-black{
  background-color: #000000;
  text-align: center;
  display: block;
  height: 150px;
}
.footer-logo{
  padding-top: 30px;
}
.footer-copyright{
  background-color: #182629;
  text-align: center;
  color: #ffffff;
  height: 50px;
  padding-top: 25px;
}
.footer-copyright p{
  margin: 0;
}
.load-more-section{
  padding: 50px;
  text-align: center;
}
.load-more-button{
  padding: 20px 70px;
  background-color: #FFD700;
  border: 1px solid #DAA520;
  font-size: 20px;
}
.load-more-button:hover{
  background-color: #f3e9b0;
  
}

/* IPad */
@media only screen and (max-width: 768px){
  #hero{
  background-size: auto 50vh;
  height: 50vh;
  }

  .hero-section{
  padding: 50px 10px;
  width: 100%;
  }
  .hero-section-2{
  width: 0;
  }

  #beers{
  grid-template-columns: repeat(2, 1fr);
  
  }
  .beer-card{
    width: 100%;
  }
  .beer-text{
  font-size: 16px;;
  height: 100px;
  }
}

/* IPhone5/SE */
@media only screen and (max-width: 320px){
  #hero{
  background-size: auto 50vh;
  height: 50vh;
  }
  .hero-section{
  padding: 50px 10px;
  width: 100%;
  }
  .hero-section-2{
  width: 0;
  }
  .nav-icon{
  margin-right: auto;
  padding-left: 10px;
  }
  .nav-items{
    text-align: center;
    font-size: 30px;
  }
  #beers{
  grid-template-columns: 1fr;
 
  }
  .beer-card{
    width: 100%;
  }

  .beer-text{
  font-size: 16px;;
  height: 130px;
  }

  .load-more-button{
  padding: 20px 50px;
  }
}

/* Extra 480px */
@media only screen and (max-width: 480px){
  #hero{
  background-size: auto 200vh;
  height: 150vh;
  }
  .hero-section{
  padding: 50px 10px;
  }
  .hero-section{
  padding: 50px 10px;
  width: 100%;
  }
  .hero-section-2{
  width: 0;
  }

  #beers{
  grid-template-columns: 1fr;
 
  }
  .beer-card{
    width: 100%;
  }
  .beer-text{
  font-size: 16px;
  height: 110px;
  }
}

